<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../css/components.css" />
    <link rel="stylesheet" href="../css/homePage.css" />

    <!-- Top Left Components -->
    <link rel="stylesheet" href="../css/topLeft/linksModal.css" />
    <link rel="stylesheet" href="../css/topLeft/eachLink.css" />
    <link rel="stylesheet" href="../css/topLeft/newLinkModal.css" />

    <!-- Top Right Components -->
    <link rel="stylesheet" href="../css/topRight/topRightWidgets.css" />
    <link rel="stylesheet" href="../css/topRight/addEventModal.css" />
    <link rel="stylesheet" href="../css/topRight/eventDetailsModal.css" />
    <link rel="stylesheet" href="../css/topRight/updateEventModal.css" />

    <link rel="stylesheet" href="../css/analogClock.css" />
    <link rel="stylesheet" href="../css/settingsModal.css" />
    <link rel="stylesheet" href="../css/todoListModal.css" />
    <link rel="stylesheet" href="../css/sidebar.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- <link href="https://fonts.googleapis.com/css2?family=Fredoka&family=Poppins&display=swap" rel="stylesheet"> -->

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <title>new tab</title>
  </head>
  <body>
    <div class="bg">
      <div class="text-center centered">
        <div id="time-div">
          <h1 id="digitalClock"></h1>

          <div id="analogClock" class="analogClock">
            <div class="hand hour" id="hoursHand"></div>
            <div class="hand minute" id="minutesHand"></div>
            <div class="hand second" id="secondsHand"></div>
          </div>
          <!-- <div class="circle"></div> -->
          <!-- <h2 id="ampm">AM</h2> -->
        </div>
        <!-- Greetings -->
        <h3 id="greetings"></h3>
      </div>

      <div class="text-center bottom-third quote">
        <div id="quote-text">"pee pee poo poo" - cum</div>
      </div>
    </div>

    <!---------------------------------------------------------------------------------------------------------------->
    <!---------------------------------------------------------------------------------------------------------------->
    <!---------------------------------------------------------------------------------------------------------------->
    <!-- TOP LEFT -->
    <div class="top-left">
      <i class="bi bi-grid" id="linksModalOpenBtn"></i>
    </div>
    <!-- Links Modal -->
    <div id="linksModal">
      <!-- LinksDiv with addLink button -->
      <div id="linksDiv">
        <!-- only links reside here, in this div -->
        <div id="links">
          <a href="chrome://apps/" class="local">
            <svg id="defaultLinks" viewBox="0 0 20 20" width="16" height="16">
              <path
                d="M6,8c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM12,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,
              -2 -2,0.9 -2,2 0.9,2 2,2zM6,20c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM6,14c1.1,0 2,-0.9 2,
              -2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM12,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM16,
              6c0,1.1 0.9,2 2,2s2,-0.9 2,-2 -0.9,-2 -2,-2 -2,0.9 -2,2zM12,8c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,
              2 0.9,2 2,2zM18,14c1.1,0 2,-0.9 2,-2s-0.9,-2 -2,-2 -2,0.9 -2,2 0.9,2 2,2zM18,20c1.1,0 2,-0.9 2,-2s-0.9,
              -2 -2,-2 -2,0.9 -2,2 0.9,2 2,2z"
              ></path>
            </svg>
            <span>&nbsp;Apps</span>
          </a>
        </div>
        <div id="addLinkIconButton">
          <i class="bi bi-plus-circle"></i>
          <span>&nbsp;Add link</span>
        </div>
      </div>

      <!-- More Options Dialog On Side Of Each Link -->
      <div id="moreOptionsDialog">
        <button id="editLinkButton">Edit</button>
        <button id="deleteLinkButton">Delete</button>
      </div>
      <!-- AddLink -->
      <div id="addLinkModal">
        <div id="cancelLinkCreationButton">
          <i class="bi bi-arrow-left"></i>
          <span>&nbsp;Go back</span>
        </div>
        <br />
        <br />
        <p>Title</p>
        <input class="linkInput" type="text" id="linkTitleInput" name="title" />
        <br />
        <p>Link</p>
        <input class="linkInput" type="text" id="linkLinksInput" name="link" />
        <br />
        <div class="buttonGroup">
          <button id="saveLinkButton">Save</button>
          <button id="updateLinkButton">Update</button>
        </div>
      </div>
    </div>

    <!---------------------------------------------------------------------------------------------------------------->
    <!---------------------------------------------------------------------------------------------------------------->
    <!---------------------------------------------------------------------------------------------------------------->
    <!-- TOP RIGHT -->
    <div id="top-right">
      <div class="addWidget" id="addWidget">
        <i class="bi bi-plus-circle"></i>
      </div>
      <div class="topRightWidget">
        <span style="font-size: 24px">3</span>
        <span style="font-size: 20px">d</span>
        <div style="font-size: 16px">Finish Project</div>
      </div>
    </div>

    <!-- The Add Widget Modal -->
    <div id="addWidgetModal">
      <div id="addWidgetModalContent">
        <h4>Keep track of important information with Widgets</h4>
        <div>
          <div id="addEvent">
            <i class="bi bi-calendar-plus"></i>
            Add Event
          </div>
          <div>
            <i class="bi bi-alarm"></i>
            Set Alarm
          </div>
        </div>
      </div>

      <!-- The Add Event Modal -->
      <div id="addEventModal">
        <div id="addEventHeaderAndClose">
          <span>Add an event</span>
          <span id="closeAddEventModal">
            <i class="bi bi-x-circle"></i>
            <span>Close</span>
          </span>
        </div>
        <!-- <form id="eventForm"> -->
        <br />
        <label for="eventNameInput">Event Name</label>
        <input type="text" id="eventNameInput" required />
        <br />
        <label for="eventDateTimeInput">Pick Date & Time</label>
        <input type="datetime-local" id="eventDateTimeInput" required />
        <br />
        <div id="addEventButtonGroup">
          <button id="saveEventButton">Save</button>
        </div>
        <!-- </form> -->
      </div>
    </div>

    <!-- The Update Event Modal -->
    <div id="updateEventModal">
      <div id="updateEventHeaderAndClose">
        <span>Update event</span>
        <span id="closeUpdateEventModal">
          <i class="bi bi-x-circle"></i>
          <!-- <span>Close</span> -->
        </span>
      </div>
      <br />
      <label for="updateEventNameInput">Event Name</label>
      <input type="text" id="updateEventNameInput" required />
      <br />
      <label for="updateEventDateTimeInput">Pick Date & Time</label>
      <input type="datetime-local" id="updateEventDateTimeInput" required />
      <div id="updateEventButtonGroup">
        <button id="deleteEventButton">Delete</button>
        <button id="updateEventButton">Update</button>
      </div>
    </div>

    <!---------------------------------------------------------------------------------------------------------------->
    <!---------------------------------------------------------------------------------------------------------------->
    <!---------------------------------------------------------------------------------------------------------------->
    <!-- SideBar -->
    <div id="sidebar">
      <a href="" id="openYoutube" class="sidebarLinks">
        <i class="bi bi-youtube"></i>
      </a>
      <a href="" id="openWhatsapp" class="sidebarLinks">
        <i class="bi bi-whatsapp"></i>
      </a>
      <a href="" id="openDiscord" class="sidebarLinks">
        <i class="bi bi-discord"></i>
      </a>
      <a href="" class="sidebarLinks">
        <i class="bi bi-alarm"></i>
      </a>
    </div>

    <!---------------------------------------------------------------------------------------------------------------->
    <!---------------------------------------------------------------------------------------------------------------->
    <!---------------------------------------------------------------------------------------------------------------->
    <!-- Settings Button -->
    <div class="bottom-left">
      <i class="bi bi-gear" id="settingsBtn"></i>
    </div>
    <!-- The Modal -->
    <div id="settingsModal" class="modal">
      <!-- Modal content -->
      <div class="modal-header">
        <h4>Settings</h4>
        <span class="close">&times;</span>
      </div>
      <div class="modalContent">
        <div class="tabs">
          <button class="tabLinks" id="generalSettings">General</button>
          <button class="tabLinks" id="clockSettings">Clock</button>
          <button class="tabLinks" id="themeSettings">Theme</button>
          <button class="tabLinks" id="sidebarSettings">Sidebar</button>
        </div>
        <div class="tabContent">
          <section id="generalSettingsTabContent">
            <div class="tabSubContents">
              <span>Select your font:&nbsp;&nbsp;&nbsp;</span>
              <select name="fontSelect" id="fontSelect">
                <option value="Poppins">Poppins</option>
                <option value="Fredoka">Fredoka</option>
              </select>
            </div>
            <div class="tabSubContents">
              <span>Time format:&nbsp;&nbsp;&nbsp;</span>
              <select name="timeFormatSelect" id="timeFormatSelect">
                <option value="12">12</option>
                <option value="24">24</option>
              </select>
            </div>
          </section>
          <section id="clockSettingsTabContent">
            <div class="tabSubContents">
              <span>Clock Type:&nbsp;&nbsp;&nbsp;</span>
              <select id="selectClockType">
                <option value="digital">digital</option>
                <option value="analog">analog</option>
              </select>
            </div>
          </section>
          <section id="sidebarSettingsTabContent">
            <div class="tabSubContents">
              <span>Show sidebar:&nbsp;&nbsp;&nbsp;</span>
              <input type="checkbox" id="showSidebar" />
            </div>
            <div class="tabSubContents">
              <span>Time format:&nbsp;&nbsp;&nbsp;</span>
              <select name="selectSidebarPosition" id="selectSidebarPosition">
                <option value="left">Left</option>
                <option value="right">Right</option>
                <option value="top">Top</option>
                <option value="bottom">Bottom</option>
              </select>
            </div>
          </section>
          <section id="themeSettingsTabContent"></section>
        </div>
      </div>
    </div>

    <!---------------------------------------------------------------------------------------------------------------->
    <!---------------------------------------------------------------------------------------------------------------->
    <!---------------------------------------------------------------------------------------------------------------->
    <!-- BOTTOM RIGHT -->
    <!-- Todo List Button -->
    <div class="bottom-right">
      <!-- <i class="bi bi-gear" id="settingsBtn"></i> -->
      <button id="openTodoListButton">Todo</button>
    </div>
    <!-- The Modal -->
    <div id="todoListModal" class="modal">
      <!-- Modal content -->
      <div id="myDIV" class="header">
        <h4>Todo List</h4>
      </div>

      <ul id="myUL">
        <!-- <li>Hit the gym</li>
        <li class="checked">Pay bills</li>
        <li>Meet George</li>
        <li>Buy eggs</li>
        <li>Read a book</li>
        <li>Organize office</li> -->
      </ul>
      <div id="inputArea">
        <input type="text" id="myInput" placeholder="Add Todo..." />
        <span id="addNewElement" class="addBtn">Add</span>
      </div>
    </div>

    <!---------------------------------------------------------------------------------------------------------------->
    <!---------------------------------------------------------------------------------------------------------------->
    <!---------------------------------------------------------------------------------------------------------------->
    <!-- Scripts -->

    <!-- Helpers -->
    <script src="../helpers/logger.js"></script>
    <script src="../helpers/domManipulation.js"></script>
    <script src="../helpers/links.js"></script>
    <script src="../helpers/dateTime.js"></script>

    <!-- Repositories -->
    <script src="../repository/clockRepository.js"></script>
    <script src="../repository/settingsRepository.js"></script>
    <script src="../repository/sidebarRepository.js"></script>

    <!-- Services -->
    <script src="../../data.js"></script>
    <script src="../../background.js"></script>
    <script src="../services/linksModal.js"></script>
    <script src="../services/addWidgetService.js"></script>
    <script src="../services/sidebar.js"></script>
    <script src="../services/clockService.js"></script>
    <script src="../services/todoListService.js"></script>
    <script src="../services/settingsService.js"></script>
    <script src="../services/homePage.js"></script>
  </body>
</html>
