#settingsModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  flex-direction: column;
  z-index: 1; /* Sit on top */
  left: 48px;
  bottom: 48px;
  width: 400px;
  overflow-y: none;
  color: #b2b2b2;
  margin: 12px;
  /* position: relative; */
  background-color: rgba(0, 0, 0, 0.7);
  margin: auto;
  padding: 12px 0px 12px 0px;
  border-radius: 12px;
  animation-name: animatetop;
  animation-duration: 0.4s;
  animation-direction: alternate;
}
@keyframes animatetop {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 48px;
    opacity: 1;
  }
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2px 16px;
  color: #b2b2b2;
  font-size: 24px;
  margin: 0px;
  padding: 0;
}
.modal-header h4 {
  margin: 2px 16px 16px 16px;
}

/* The Close Button */
.close {
  color: #b2b2b2;
  font-size: 28px;
  font-weight: bold;
  margin-right: 16px;
}
.close:hover,
.close:focus {
  color: white;
  cursor: pointer;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.eachModalContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px 16px;
  margin: 8px 0px;
  font-size: 16px;
  height: 24px;
}
