.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.16);
  overflow-x: hidden;
  transition: 0.2s;
  padding-top: 8px;
}

.sidebar a {
  margin-top: 8px;
  margin-bottom: 8px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidebar a:hover {
  color: #f1f1f1;
}
#defaultLinks {
  fill: #818181;
  transition: 0.3s;
  margin-top: 4px;
}
#defaultLinks:hover {
  fill: #f1f1f1;
}

#addLinkIconButton {
  margin-top: 16px;
  margin-bottom: 16px;
  text-decoration: none;
  font-size: 24px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
#addLinkIconButton:hover {
  color: #f1f1f1;
  cursor: pointer;
}
