.sidebar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  z-index: 1;
  padding: 4px;
  /* transform: translateY(-50%); */
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  transition: 0.2s;

  border-radius: 8px;
  animation-duration: 0.3s;
  /* animation-name: slideRight; */
  animation-fill-mode: forwards;
}

/* .sidebar.show {
  display: flex;
} */
.sidebar.placeLeft {
  flex-direction: column;
  height: fit-content;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  animation-name: sideBarSlideRight;
}
.sidebar.placeRight {
  flex-direction: column;
  height: fit-content;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  animation-name: sideBarSlideLeft;
}
.sidebar.placeTop {
  flex-direction: row;
  width: fit-content;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  animation-name: sideBarSlideDown;
}
.sidebar.placeBottom {
  flex-direction: row;
  width: fit-content;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  animation-name: sideBarSlideUp;
}

.sidebarLinks {
  /* margin-top: 2px;
  margin-bottom: 2px; */
  margin: 2px;
  text-decoration: none;
  font-size: 20px;
  color: #c2c2c2;
  /* background-color: rgba(33, 39, 45, 255); */
  padding: 6px 8px;
  border-radius: 4px;
  display: block;
  transition: 0.3s;
}
.sidebarLinks:hover {
  /* color: #f1f1f1; */
  box-shadow: 0px 1px 2px rgba(160, 160, 160, 0.2);
  /* border: 1px solid rgba(39, 45, 51, 255); */
  background-color: rgba(30, 36, 42, 1);
}
#defaultLinks {
  fill: #818181;
  transition: 0.3s;
  margin-top: 4px;
}
#defaultLinks:hover {
  fill: #f1f1f1;
}

#addLinkIconButton:hover {
  color: #f1f1f1;
  cursor: pointer;
}

/* ----------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------- */
/* Animations */
@keyframes sideBarSlideRight {
  0% {
    left: 0px;
  }
  100% {
    left: 8px;
  }
}
@keyframes sideBarSlideLeft {
  0% {
    right: 0px;
  }
  100% {
    right: 8px;
  }
}
@keyframes sideBarSlideDown {
  0% {
    top: 0px;
  }
  100% {
    top: 8px;
  }
}
@keyframes sideBarSlideUp {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: 8px;
  }
}
