#openTodoListButton {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
  font-size: 17px;
  border: none;
}
#openTodoListButton:hover {
  cursor: pointer;
  color: white;
}

#todoListModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  flex-direction: column;
  z-index: 1; /* Sit on top */
  right: 64px;
  bottom: 48px;
  width: 300px;
  overflow-y: none;
  color: #b2b2b2;
  margin: 12px;
  background-color: rgba(0, 0, 0, 0.9);
  margin: auto;
  padding: 12px 0px 12px 0px;
  border-radius: 12px;
  animation-name: animatetop;
  animation-duration: 0.4s;
  animation-direction: alternate;
}
@keyframes animatetop {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 48px;
    opacity: 1;
  }
}

/* Style the header */
.header {
  font-size: 20px;
  background-color: transparent;
  padding: 8px 20px;
  color: white;
}
/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}
.header h4 {
  margin: 0;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding: 0px 8px 0px 24px;
  font-size: 16px;
  transition: 0.2s;
  user-select: none;
  list-style-type: none;
}

/* Darker background-color on hover */
ul li:hover {
  color: white;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  text-decoration: line-through;
}

/* Style the delete button */
.deleteTodoButton {
  margin: 2px;
  padding: 0px 5px;
  font-size: 20px;
}
.deleteTodoButton:hover {
  background-color: #f44336;
  border-radius: 50%;
}

#inputArea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 4px 0px 0px 0px;
}

/* Style the input */
#myInput {
  margin: 0px 0px 0px 24px;
  border: none;
  outline: none;
  width: 75%;
  font-size: 16px;
  background-color: transparent;
  color: white;
}

/* Style the "Add" button */
.addBtn {
  padding: 8px;
  margin: 0px 8px 0px 0px;
  width: 60px;
  background: #28a128;
  border-radius: 24px;
  color: white;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.addBtn:hover {
  background-color: #1e741e;
}
