body,
html {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: "Poppins", "Fredoka", sans-serif !important;
}

.bg {
  /* The image used */
  background-image: url("/images/wallpapers/desert_tree.jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .bg {
  background-image: url("https://source.unsplash.com/category/nature/1920x1080");
  background-size: cover;
  height: 100vh;
} */

.bg h1,
h2,
h3 {
  /* font-family: "Helvetica Neue"; */
  color: white;
  font-size: 15vw;
  letter-spacing: -1px;
  line-height: 1;
  margin: 0;
}

.bg h3 {
  font-size: 4vw;
}

.bg h2 {
  font-size: 3vw;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-left {
  position: fixed;
  top: 2vh;
  left: 3vh;
}

.top-right {
  position: fixed;
  top: 2vh;
  right: 2vh;
}

.bottom-third {
  position: fixed;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#time-div {
  display: flex;
  justify-content: center;
}
#time {
  font-size: 240px;
  font-weight: 400;
}

.quote {
  /* font-family: "Helvetica Neue"; */
  color: white;
  font-size: 2vw;
  letter-spacing: 1px;
  line-height: 1;
  margin: 0;
}

#quote-text {
  font-size: 1.5vw;
}

#sidebarOpenbtn {
  display: block;
  cursor: pointer;
  background-color: transparent;
  color: white;
  font-size: 24px;
}

.weather {
  color: white;
  font-size: 36px;
  letter-spacing: 1px;
  line-height: 1;
  margin: 0;
}

#location {
  margin: 0;
  font-size: 24px;
  text-align: right;
}

#greetings {
  text-align: center;
  padding: 24px;
}

#settingsBtn {
  position: fixed;
  bottom: 24px;
  left: 16px;
  font-size: 24px;
  color: white;
}
#settingsBtn:hover {
  text-shadow: 0 0 10px grey;
  cursor: pointer;
}
